<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./RestaurantShopPage.css">
    <script src="https://kit.fontawesome.com/5e49fca639.js" crossorigin="anonymous"></script>

    <title>Shop page</title>
</head>

<body>
    <section class="nav-bar-contents">
        <nav>
            <div class="restaurant-logo">
                <img src="../../assets/images/logo.png" alt="Restaurant Logo">
            </div>
            <ul id="nav-links">
                <li><a href="../../ResturantHomepage.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="../../Components/RestaurantShopPage/RestaurantShopPage.html">Shop</a></li>
                <li><a href="#">Contact</a></li>

                <li>
                    <a href="#" aria-label="Favorites">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Cart">
                        <i class="fas fa-cart-shopping" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="navbarbtn">
                <i class="fas fa-bars"></i>
            </div>

        </nav>

        <div class="home-shop">
            <h3>Home-<span>Shop</span></h3>
        </div>
    </section>


    <section class="shop_by_category">

        <div class="categories">
            <div class="title">
                <p>Shop by category</p>
                <h4>Shop by category</h4>
            </div>
            <div class="vegeterian">
                <img src="../../assets/images/salad.jpeg" alt="">
                <h4>Vegeterian</h4>
            </div>
            <div class="meat">
                <img src="../../assets/images/salad.jpeg" alt="">
                <h4>Meat</h4>
            </div>
            <div class="chicken">
                <img src="../../assets/images/salad.jpeg" alt="">
                <h4>Chicken</h4>
            </div>
            <div class="Double">
                <img src="../../assets/images/salad.jpeg" alt="">
                <h4>Double</h4>
            </div>
        </div>

    </section>


    <section>
        <div class="food-cards">
            <div class="food-card">
                <img src="../../assets/images/Backgroundimg.jpeg" alt="">
                <div class="addtofav">
                    <i class="fas fa-heart-circle-plus"></i>
                </div>
                <div class="sandwich-price">
                    <h4>150EGP</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <span class="">4.5</span>

                    </div>

                </div>

                <div class="Sandwich-name">
                    <h4>Burger with Apple Chutney</h4>
                </div>

                <div class="additonal-content">
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>4 Pieces</span>
                    </div>
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>Spicy Sauce</span>
                    </div>
                </div>

                <div class="addtocartbutton">
                    <button>Add To Cart</button>
                </div>



            </div>
            <div class="food-card">
                <img src="../../assets/images/Backgroundimg.jpeg" alt="">
                <div class="addtofav">
                    <i class="fas fa-heart-circle-plus"></i>
                </div>
                <div class="sandwich-price">
                    <h4>150EGP</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <span class="">4.5</span>

                    </div>

                </div>

                <div class="Sandwich-name">
                    <h4>Burger with Apple Chutney</h4>
                </div>

                <div class="additonal-content">
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>4 Pieces</span>
                    </div>
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>Spicy Sauce</span>
                    </div>
                </div>

                <div class="addtocartbutton">
                    <button>Add To Cart</button>
                </div>



            </div>
            <div class="food-card">
                <img src="../../assets/images/Backgroundimg.jpeg" alt="">
                <div class="addtofav">
                    <i class="fas fa-heart-circle-plus"></i>
                </div>
                <div class="sandwich-price">
                    <h4>150EGP</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <span class="">4.5</span>

                    </div>

                </div>

                <div class="Sandwich-name">
                    <h4>Burger with Apple Chutney</h4>
                </div>

                <div class="additonal-content">
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>4 Pieces</span>
                    </div>
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>Spicy Sauce</span>
                    </div>
                </div>

                <div class="addtocartbutton">
                    <button>Add To Cart</button>
                </div>



            </div>
            <div class="food-card">
                <img src="../../assets/images/Backgroundimg.jpeg" alt="">
                <div class="addtofav">
                    <i class="fas fa-heart-circle-plus"></i>
                </div>
                <div class="sandwich-price">
                    <h4>150EGP</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <span class="">4.5</span>

                    </div>

                </div>

                <div class="Sandwich-name">
                    <h4>Burger with Apple Chutney</h4>
                </div>

                <div class="additonal-content">
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>4 Pieces</span>
                    </div>
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>Spicy Sauce</span>
                    </div>
                </div>

                <div class="addtocartbutton">
                    <button>Add To Cart</button>
                </div>



            </div>

            <div class="food-card">
                <img src="../../assets/images/Backgroundimg.jpeg" alt="">
                <div class="addtofav">
                    <i class="fas fa-heart-circle-plus"></i>
                </div>
                <div class="sandwich-price">
                    <h4>150EGP</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <span class="">4.5</span>

                    </div>

                </div>

                <div class="Sandwich-name">
                    <h4>Burger with Apple Chutney</h4>
                </div>

                <div class="additonal-content">
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>4 Pieces</span>
                    </div>
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>Spicy Sauce</span>
                    </div>
                </div>

                <div class="addtocartbutton">
                    <button>Add To Cart</button>
                </div>



            </div>

            <div class="food-card">
                <img src="../../assets/images/Backgroundimg.jpeg" alt="">
                <div class="addtofav">
                    <i class="fas fa-heart-circle-plus"></i>
                </div>
                <div class="sandwich-price">
                    <h4>150EGP</h4>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <span class="">4.5</span>

                    </div>

                </div>

                <div class="Sandwich-name">
                    <h4>Burger with Apple Chutney</h4>
                </div>

                <div class="additonal-content">
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>4 Pieces</span>
                    </div>
                    <div class="content-item">
                        <i class="fas fa-circle-check"></i>
                        <span>Spicy Sauce</span>
                    </div>
                </div>

                <div class="addtocartbutton">
                    <button>Add To Cart</button>
                </div>



            </div>

        </div>
    </section>





</body>

</html>