*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s
}

.banner{
    background: url(../assets/images/Backgroundimg.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.banner h1{
    font-size: 3rem;
    text-transform: capitalize;
    color: white;
}

.imagecontainer3{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding: 2rem;
}

.imagecontainer3 img{
    width: 20rem;
    border-radius: 1rem;
    cursor: pointer;
}