<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5e49fca639.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./RestaurantCartPage.css">
    <title>Cart</title>
</head>

<body>
    <section class="nav-bar-contents">
        <nav>
            <div class="restaurant-logo">
                <img src="../../assets/images/logo.png" alt="Restaurant Logo">
            </div>
            <ul id="nav-links">
                <li><a href="../../ResturantHomepage.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="./Components/RestaurantShopPage/RestaurantShopPage.html">Shop</a></li>
                <li><a href="./Components/RestaurantContactpage/RestaurantContactpage.html">Contact</a></li>

                <li>
                    <a href="#" aria-label="Favorites">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="./Components/RestaurantCartPage/RestaurantCartPage.html" aria-label="Cart">
                        <i class="fas fa-cart-shopping" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="navbarbtn">
                <i class="fas fa-bars"></i>
            </div>

        </nav>
    </section>
    <header>
        <h1>Your Cart</h1>
    </header>

    <section id="cart-container">
        <p id="empty-cart-message">Your cart is currently empty.</p>
    </section>

    <div class="checkoutbtn">
        <button>Checkout</button>
    </div>


    <script src="./RestaurantCartPage.js"></script>
</body>

</html>